<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

    <meta charset="UTF-8">
    <title>EMT-Lab</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/css/custom.css}" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link th:href="@{~/css/fontawesome.css}" rel="stylesheet" type="text/css">
</head>

<body>
</body>

</html>