body, html {
    height: 100%;
    width: 100%;
}

.parallaxBackground {
    background-image: url("../image.jpg");
    width: 100%;
    height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxBackground2 {
    background-image: url("../image2.jpg");
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}