<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

</head>
<body>

<div class="container">

    <div layout:fragment="content" style="margin-top: 20px;">
        <div class="jumbotron" style="overflow:scroll; height:800px;">
            <h1 th:if="${successMessageMain}" th:text="${successMessageMain}" class="display-4"></h1>
            <h3 th:if="${successMessageOther}" th:text="${successMessageOther}" class="lead"></h3>
        </div>

    </div>

</div>

</body>
</html>