<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

</head>
<body>

<div class="container">
    <div layout:fragment="content" style="margin-top: 20px;">
        <div class="jumbotron" style="overflow:scroll; height:800px;">
        <h2>Manage Departments</h2>

        <a role="button" class="btn btn-info" th:href="'new'">
            Add New Department
        </a>

        <br>
        <br>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department : ${departments}">
                <td th:text="${department.name}"></td>
                <td>
                    <a class="btn btn-info" role="button" th:href="'/departments/edit/' + ${department.id}">
                        Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


</body>
</html>