<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

</head>
<body>

<div class="container">

    <div layout:fragment="content" style="margin-top: 20px;">
        <div class="jumbotron" style="overflow:scroll; height:800px;">
        <h2>Add New Employee</h2>

        <form action="/employees/new" th:object="${employee}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputEmployeeEmail">Email Address</label>
                <input th:field="*{email}" type="email" class="form-control" id="inputEmployeeEmail"
                       aria-describedby="employeeEmail"
                       placeholder="Enter email"
                       required autofocus
                       pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}">
            </div>
            <!--
            <div class="form-group">
                <label for="inputEmployeePassword">Password</label>
                <input th:field="*{password}" type="password" class="form-control" id="inputEmployeePassword"
                       placeholder="Password"
                       required minlength="5">
            </div> -->
            <div class="form-group">
                <label for="inputEmployeeFirstName">First Name</label>
                <input th:field="*{firstName}" type="text" class="form-control" id="inputEmployeeFirstName"
                       placeholder="Enter First Name"
                       required minlength="3">
            </div>
            <div class="form-group">
                <label for="inputEmployeeLastName">Last Name</label>
                <input th:field="*{lastName}" type="text" class="form-control" id="inputEmployeeLastName"
                       placeholder="Enter Last Name"
                       required minlength="3">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <div class="form-check">
                    <input th:field="*{gender}" class="form-check-input" type="radio" name="employeeGender"
                           id="employeeGender1" value="MALE"
                           checked>
                    <label class="form-check-label" for="employeeGender1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input th:field="*{gender}" class="form-check-input" type="radio" name="exampleRadios"
                           id="employeeGender2"
                           value="FEMALE">
                    <label class="form-check-label" for="employeeGender2">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="selectEmployeeDepartmentId">Department</label>
                <select class="form-control" name="departmentId"
                        th:readonly="${#authorization.expression('hasAuthority(''MANAGER'')')}"
                        id="selectEmployeeDepartmentId"
                        required>
                    <option value="0">Select Department</option>
                    <option th:each="_department : ${departments}" th:value="${_department.id}"
                            th:text="${_department.name}"
                            th:selected="${_department.id == #authentication.getPrincipal().getEmployee().getDepartment().getId()}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmployeeBirthDate">Birth Date</label>
                <input th:field="*{birthDate}" type="date" class="form-control" id="inputEmployeeBirthDate"
                       placeholder="Enter Birth Date" required>
            </div>
            <div class="form-group">
                <label for="selectEmployeeRole">Role</label>
                <select class="form-control" name="role"
                        th:readonly="${#authorization.expression('hasAuthority(''MANAGER'')')}" id="selectEmployeeRole">
                    <option th:each="_role : ${roles}" th:value="${_role}" th:text="${_role}"
                            th:selected="${_role == 'EMPLOYEE'}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmployeeAvatar">Avatar</label>
                <input th:field="*{avatar}" type="file" class="form-control"
                       id="inputEmployeeAvatar" placeholder="Upload Avatar">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        </div>
    </div>

</div>


</body>
</html>