<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

</head>
<body>

<div class="container">

    <div layout:fragment="content" style="margin-top: 20px;">
        <div class="jumbotron" style="overflow:scroll; height:800px;">
        <h2>Edit Profile</h2>

        <form th:action="'/employees/edit/' + ${employee.id}" th:object="${employeeDto}" method="POST"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputEmployeeEmail">Email</label>
                <input th:name="email" th:value="${employee.email}" type="email" aria-describedby="employeeEmail"
                       class="form-control" id="inputEmployeeEmail" placeholder="Enter Email"
                       required autofocus
                       pattern="[a-z]{1,}[a-zA-Z0-9]{0,}@[a-z]{0,}[a-zA-Z0-9]{0,}\.com">
            </div>
            <div class="form-group">
                <label for="inputEmployeeFirstName">First Name</label>
                <input th:name="firstName" th:value="${employee.firstName}" type="text" class="form-control"
                       id="inputEmployeeFirstName" placeholder="Enter First Name"
                       required minlength="3">
            </div>
            <div class="form-group">
                <label for="inputEmployeeLastName">Last Name</label>
                <input th:name="lastName" th:value="${employee.lastName}" type="text" class="form-control"
                       id="inputEmployeeLastName" placeholder="Enter Last Name"
                       required minlength="3">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <div class="form-check">
                    <input th:field="${employee.gender}" value="MALE" class="form-check-input"
                           type="radio" name="employeeGender" id="employeeGender1">
                    <label class="form-check-label" for="employeeGender1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input th:field="${employee.gender}" value="FEMALE" class="form-check-input"
                           type="radio" name="employeeGender" id="employeeGender2">
                    <label class="form-check-label" for="employeeGender2">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="selectEmployeeDepartmentId">Department</label>
                <select class="form-control" name="departmentId"
                        th:readonly="${#authorization.expression('hasAuthority(''MANAGER'')')}"
                        id="selectEmployeeDepartmentId"
                        required>
                    <option value="0">Select Department</option>
                    <option th:each="_department : ${departments}" th:value="${_department.id}"
                            th:text="${_department.name}"
                            th:selected="${employee.department.id == _department.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmployeeBirthDate">Birth Date</label>
                <input th:name="birthDate" th:value="${employee.birthDate}" type="date" class="form-control"
                       id="inputEmployeeBirthDate" placeholder="Enter Birth Date"
                       required>
            </div>
            <div class="form-group">
                <label for="selectEmployeeRole">Role</label>
                <select class="form-control" name="role"
                        th:readonly="${#authorization.expression('hasAuthority(''MANAGER'')')}" id="selectEmployeeRole">
                    <option value="0">Select Role</option>
                    <option th:each="_role : ${roles}" th:value="${_role}" th:text="${_role}"
                            th:selected="${employee.role == _role}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmployeeAvatar">Avatar</label>
                <img th:src="@{'data:image/jpeg;base64,'+${employeeAvatarEncoded}}"/>
                <input th:name="avatar" th:value="${employee.avatar}" type="file" class="form-control"
                       id="inputEmployeeAvatar" placeholder="Upload Avatar">
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>

        </div>
    </div>

</div>


</body>
</html>