<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

</head>
<body>

<div class="container">

    <div layout:fragment="content" style="margin-top: 20px;">
        <div class="jumbotron">
        <h3 th:if="${hasInformation}" th:text="${information}"></h3>
        <div class="row">
            <h3 th:if="${param.error}">Invalid credentials</h3>
            <h3 th:if="${param.logout}">Sign out successful</h3>
        </div>


        <h2>Login</h2>

        <form th:action="@{/employees/login}" method="POST">
            <div class="form-group">
                <label for="username">Email Address</label>
                <input type="email" class="form-control" name="username" th:value="${intermediateUser.email}"
                       id="username" aria-describedby="employeeEmail"
                       placeholder="Enter Email" readonly>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password"
                       autofocus>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" name="remember-me" type="checkbox" id="remember">
                <label class="form-check-label" for="remember">
                    Remember Me
                </label>
            </div>
            <button type="submit" value="Login" class="btn btn-primary">Login</button>
        </form>


        <!--
        <div>
            <label>With Facebook:</label>
            <a href="/login/facebook">Facebook Login</a>
        </div>
        <div>
            <label>With Github:</label>
            <a href="/login/github">Github Login</a>
        </div>
        -->

        </div>
    </div>
</div>


</body>
</html>