<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

</head>
<body>

<div class="container">

    <div layout:fragment="content" style="margin-top: 20px;">
        <div class="jumbotron" style="overflow:scroll; height:800px;">
            <h3 th:if="${hasInformation}" th:text="${information}"></h3>
        <h2>Change Password</h2>

        <form th:action="'/employees/change-password'" method="POST" enctype="utf8">
            <div class="form-group">
                <label for="inputEmployeeOldPassword">Old Password</label>
                <input type="password" name="oldPassword" class="form-control" id="inputEmployeeOldPassword"
                       placeholder="Enter Old Password" autofocus>
            </div>
            <div class="form-group">
                <label for="inputEmployeeNewPassword">New Password</label>
                <input type="password" name="newPassword" class="form-control" id="inputEmployeeNewPassword"
                       placeholder="Enter New Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        </div>
    </div>

</div>


</body>
</html>