<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EMT-Lab Chat</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link th:href="@{~/css/fontawesome.css}" rel="stylesheet" type="text/css">
    <script th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{~/js/sockjs.min.js}"></script>
    <script th:src="@{~/js/stomp.min.js}"></script>
    <script th:src="@{~/js/appchat.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EmpRegistry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li sec:authorize="hasAnyAuthority('MANAGER', 'ADMIN')" class="nav-item">
                <a class="nav-link" href="/employees/manage">Employees</a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" href="/departments/manage">Departments</a>
            </li>
            <li sec:authorize="hasAuthority('INTERMEDIATE')" class="nav-item">
                <a class="nav-link" href="/employees/login">Login</a>
            </li>
            <li sec:authorize="hasAnyAuthority('EMPLOYEE', 'MANAGER', 'ADMIN')">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li sec:authorize="hasAnyAuthority('EMPLOYEE', 'MANAGER', 'ADMIN')">
                <a class="nav-link" href="/employees/edit/my-profile">My Profile</a>
            </li>
            <li sec:authorize="hasAnyAuthority('EMPLOYEE', 'MANAGER', 'ADMIN')">
                <a class="nav-link" href="/employees/change-password">Change Password</a>
            </li>
            <li sec:authorize="hasAnyAuthority('EMPLOYEE', 'MANAGER', 'ADMIN')">
                <a class="nav-link" href="/employees/chat">Chat</a>
            </li>
        </ul>
    </div>
</nav>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<br>
<br>
<div class="container">

    <div id="chat-container" class="container" style="overflow-y: scroll; height:500px;">

    </div>
    <div class="form-group">
        <label for="inputMessage">Send Message: </label>
        <input id="employeeFirstName" type="hidden" th:value="${employee.firstName}"/>
        <input type="text" class="form-control"
               id="inputMessage" placeholder="Enter message" autofocus>
        <br>
        <button id="sendMessage" class="btn btn-primary">Send</button>
    </div>
</div>


<!-- Bootstrap Core JavaScript -->
<script th:src="@{~/js/bootstrap.min.js}"></script>
</body>
</html>