<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

</head>
<body>

<div class="container">

    <div layout:fragment="content" style="margin-top: 20px;">
        <div class="jumbotron" style="overflow:scroll; height:800px;">
        <h2>Manage Employees</h2>

        <a role="button" class="btn btn-info" th:href="'new'">
            Add New Employee
        </a>

        <br>
        <br>

        <div>
            <form th:action="'/employees/manage/'" method="GET" enctype="utf8">
                <div class="form-group">
                    <label for="inputSearchPhrase">Phrase</label>
                    <input th:name="phrase" type="text" class="form-control" id="inputSearchPhrase"
                           placeholder="Enter phrase" autofocus>
                </div>
                <div class="form-group">
                    <label>Search By:</label>
                    <div class="form-check">
                        <input th:name="searchBy" class="form-check-input" type="radio"
                               id="searchByEmail" th:value="email"
                               checked>
                        <label class="form-check-label" for="searchByEmail">
                            Email
                        </label>
                    </div>
                    <div class="form-check">
                        <input th:name="searchBy" class="form-check-input" type="radio"
                               id="searchByFirstName"
                               th:value="firstName">
                        <label class="form-check-label" for="searchByFirstName">
                            First Name
                        </label>
                    </div>
                    <div class="form-check">
                        <input th:name="searchBy" class="form-check-input" type="radio"
                               id="searchByLastName"
                               th:value="lastName">
                        <label class="form-check-label" for="searchByLastName">
                            Last Name
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <br>
        <br>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.gender}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td>
                    <a class="btn btn-info" role="button" th:href="'/employees/edit/' + ${employee.id}">
                        Edit
                    </a>
                    <a class="btn badge-danger" role="button" th:href="'/employees/delete/' + ${employee.id}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


        <hr/>
        <div class="text-center">
            <div class="col-md-6">
                <!-- STUPID IMPLEMENTATION MEH  -->
                <span th:text="${pageNumber}"></span>
                <span>/</span>
                <span th:text="${totalPagesNumber}"></span>
                <a class="btn btn-success" th:if="${hasPrev}" th:href="${prevPageRequest}">Prev</a>
                <a class="btn btn-success" th:if="${hasNext}" th:href="${nextPageRequest}">Next</a>
            </div>
        </div>
        </div>
    </div>

</div>


</body>
</html>